.image-wrapper {
    display: flex;
    gap: 1em;
    align-items: center;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.image-wrapper button {
    width: 14em;
}

.journal {
    width: 20em;
    height: 20em;
}

.account {
    width: 4em;
    height: 4em;
    border-radius: 100%;
}
