.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.heading {
    padding: 1em;
    text-transform: uppercase;
}
