.detail-container,
.detail-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3em;
}

.detail-container p {
    color: #707070;
    font-size: .9em;
}

.detail-container svg {
    color: #555555;
}

.detail-container:hover a p,
.detail-container:hover a svg {
    color: #0ea5e9;
}
