.field {
    padding: .75em 1em;
    background-color: #f6f6f6;
    border-radius: .5em;
    width: 100%;
    border: .10em solid #dddddd;
    transition: all 0.3s ease-in-out;
    outline: none;
}

.field:hover,
.field:focus,
.success {
    border-color: #1E90FF;
}

.error {
    transition: all 0.2s ease-in-out;
    border-color: red !important;
}

.image-wrapper {
    display: flex;
    gap: 1em;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.image-wrapper button {
    width: 14em;
}

.journal {
    width: 30em;
    height: 13.4em;
}

.account {
    width: 4em;
    height: 4em;
    border-radius: 100%;
}

.date {
    background-color: #EEE;
    padding: .75em 1em;
    cursor: pointer;
}
