.info {
    display: flex;
    flex-direction: column;
    gap: .25em;
    flex-wrap: wrap;
    width: 90%;
}

.info h3 {
    font-weight: 500;
}

.info h3:hover {
    color: blue;
}

.details-wrapper {
    display: flex;
    gap: .5em;
    justify-content: space-between;
    padding: .5em 0;
}

.likes-views-wrapper {
    display: flex;
    gap: .5em;
}

.description {
    color: #575757;
}

.author {
    padding-top: .25em;
    display: flex;
    gap: .25em;
    align-items: center
}
