.info {
    display: flex;
    flex-direction: column;
    gap: .25em;
    background-color: white;
    border-radius: 0 0 .5em .5em;
    padding: .5em .1em;
}

.header {
    display: flex;
    gap: 1em;
}

.description {
    padding-bottom: .5em;
}

.description h1 {
    font-weight: 500;
}

.description p {
    color: #6a6a6a;
}

.additional-info {
    display: flex;
    justify-content: space-between;
}

.comments {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.comments svg {
    color: #555555;
}

.content {
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding-top: .5em;
}

.content p {
    font-size: .95em;
    color: black !important;
}
