.journal-image {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: .25em;
    cursor: pointer;
}

.journal-image img {
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.journal-image img:hover {
    transform: scale(1.10);
}
