.comment-card {
    display: flex;
    gap: .5em;
    border: 1px solid #cdcdcd;
    padding: 1em;
    border-radius: .25em;
    position: relative;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: .25em;
    width: 70%;
    height: 100%;
}
