.container {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 90%;
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
